@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GoldmanBold';
    src:
        local('GoldmanBold'),
        url('./fonts/Jura/static/Jura-Medium.ttf') format('truetype');
    font-weight: bold;
}
